# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://xtfyqqidftjtowxkibnn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_GTEDf5Q1wWmbkvqKCaWzYA_5l8300Hd
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0ZnlxcWlkZnRqdG93eGtpYm5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1ODI2MzEsImV4cCI6MjA4ODE1ODYzMX0.V5lhbK1q6CH6SHb0qvJZds_MGgbcT_ygHf6mjXYKEL4
